<div class="top-100">
	<ul class="fragment white-on-black bulleted-box">
		<li>Produce the Artefacts
			<ul>
				<li class="fragment">Develop a Product Backlog
					<ul>
						<li class="fragment">Write User Stories in pairs</li>
					</ul>
				</li>
				<li class="fragment">Prioritise Product Backlog by business value</li>
				<li class="fragment">Commit to User Stories in Sprint Planning</li>
				<li class="fragment">Deliver a Product Increment within a Sprint</li>
			</ul>
		</li>
	</ul>
</div>
