<div class="top-100">
	<ul class="fragment white-on-black bulleted-box">
		<li>Practice the Events
			<ul>
				<li class="fragment">Discovery Phase
					<ul>
						<li class="fragment">Share Product Vision</li>
						<li class="fragment">Build Product Backlog
							<ul>
								<li class="fragment">Write User Stories in pairs</li>
								<li class="fragment">Estimate User Stories</li>
							</ul>
					</ul>
				</li>
				</li>
				<li class="fragment">Sprint Backlog Planning - 3 minutes</li>
				<li class="fragment">Sprint - 7 minutes</li>
				<li class="fragment">Sprint Review - 5 minutes</li>
				<li class="fragment">Sprint Retrospective</li>
			</ul>
		</li>
	</ul>
</div>
