<div class="top-100">
	<ul class="fragment white-on-black bulleted-box">
		<li class="fragment">Birth name: Hedwig Eva Maria Kiesler</li>
		<li class="fragment">Nickname: "The Most Beautiful Woman in Films"</li>
		<li class="fragment">Born: 9 November 1914 - Vienna</li>
		<li class="fragment">Died: 19 January 2000 - Florida</li>
		<li class="fragment">Star of over 30 films in 30's-50's</li>
		<li class="fragment">Samson and Delilah (1949)</li>
		<li class="fragment">Patent co-author of "Frequency-hopping spread-spectrum" used in Bluetooth, WI-FI and cordless phones (1942)</li>
	</ul>
</div>

<aside class="notes">
	* radio-controlled torpedoes could easily be jammed by broadcasting interference at the frequency of the control signal, causing the torpedo to go off course.

	* developed the idea of using frequency hopping to avoid jamming

	* using a piano roll to unpredictably change the signal sent between a control center and the torpedo at short bursts within a range of 88 frequencies in the radio-frequency spectrum (there are 88 black and white keys on a piano keyboard). The specific code for the sequence of frequencies would be held identically by the controlling ship and in the torpedo. It would be practically impossible for the enemy to scan and jam all 88 frequencies, as a computation this complex would require too much power.
</aside>
