<h1 id="start-sprint-review" style="margin-top:250px;">Start 5 minute countdown</h1>
<div id="countdown-sprint-review" style="margin-top:90px;height:600px;"></div>

<script>
// http://www.gieson.com/Library/projects/utilities/countdown/
	var sprintReviewButton = document.getElementById("start-sprint-review");

	sprintReviewButton.onclick = function() {
		setTimeout(function() {
			var countdownTheme = new Audio('/presentations/images/countdown-theme.mp3');

			countdownTheme.play();
		}, 30000);

		sprintReviewButton.style.display = 'none';

		var countdownClock = new Countdown({
			time: 300,
			width:1000,
			height:600,
			rangeHi:"minute",
			target:"countdown-sprint-review"
		});
	};
</script>
