<div style="clear:both;">
	<div class="left-third fragment" data-fragment-index="2">
		<p>Product Owner</p>
	</div>

	<div class="middle-third fragment" data-fragment-index="1">
		<p>Development Team</p>
	</div>

	<div class="right-third fragment" data-fragment-index="3">
		<p>Scrum Master</p>
	</div>
</div>

<div style="clear:both;">
	<div class="left-third fragment" data-fragment-index="2">
		<img src="/presentations/images/lego-product-owner.jpg" alt="">
	</div>

	<div class="middle-third fragment" data-fragment-index="1">
		<img src="/presentations/images/lego-development-team.jpg" alt="">
	</div>

	<div class="right-third fragment" data-fragment-index="3">
		<img src="/presentations/images/lego-scrum-master.jpg" alt="">
	</div>
</div>

<div style="clear:both;">
	<div class="left-third fragment" data-fragment-index="5">
		<p>Me</p>
	</div>

	<div class="middle-third fragment" data-fragment-index="4">
		<p>You</p>
	</div>

	<div class="right-third fragment" data-fragment-index="5">
		<p>Me</p>
	</div>
</div>