---
title: "Scrum: Principles and Practices"
sortOrder: 01

sitemap:
  lastmod: 2015-05-31
  priority: 0.5
  changefreq: 'monthly'
  exclude: 'yes'
---
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Scrum: Principles and Practices | AgileMix.com</title>

		<meta name="description" content="A presentation on the Agile framework Scrum">
		<meta name="author" content="Richard Herbert - AgileMix.com">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<style>
			h1.top {
				position: absolute;
				top: 0px;
			}

			h1.full-width {
				margin: 0 -200px;
			}

			.white-on-black {
				background-color: rgba(33, 33, 33, 0.5);
				color: #fff;
			}

			.slide-title {
				background-color: rgba(33, 33, 33, 0.5);
				padding: 20px;
				top: 20px;
			}
		</style>

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">
			<header class="top" style="position: absolute;
				top: 50px;
				align: center;
				z-index:500;">
			</header>

			<h1 id="top-left" style="position: absolute;
				background-color: rgba(33, 33, 33, 0.5);
				top: 20px;
				left: 20px;
				z-index:500;">
			</h1>

			<h1 id="top-right" style="position: absolute;
				background-color: rgba(33, 33, 33, 0.5);
				top: 20px;
				right: 20px;
				z-index:500;">
			</h1>

			<div class="credit" style="position: absolute;
				background-color: rgba(33, 33, 33, 0.5);
				bottom: 20px;
				left: 20px;
				font-size: 20px;
				z-index:500;">
			</div>

			<div class="slides">
				<section>
					<h1>Scrum: Principles and Practices</h1>
				</section>

				{% assign slide = 'agenda' %}
				{% assign slide-title = 'Agenda' %}
				{% assign slide-credit = 'Fotos GOVBA - "Agenda Bahia" - https://flic.kr/p/9wSkoT' %}

				{% include presentations/scrum-principles-and-practices/agenda.html %}

				{% assign slide = 'getting-to-know-you' %}
				{% assign slide-title = 'Getting to Know You...' %}
				{% assign slide-credit = 'The King and I - 20th Century Fox (1956)' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'umbrella-term' %}
				{% assign slide-title = 'Umbrella Term' %}
				{% assign slide-credit = 'Umbrella street in Belgrade, Serbia, Matej Duzel' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'what-does-agile-mean' %}
				{% assign slide-title = 'What Does Agile Mean?' %}
				{% assign slide-credit = 'Joe deSousa - https://flic.kr/p/a6gTRj' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'history-of-scrum' %}
				{% assign slide-title = 'History of Scrum' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'scrum-moves-on' %}
				{% assign slide-title = 'Scrum moves on – 1995' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}

				<section>
					<h1>Principles</h1>
				</section>

				{% assign slide = 'scrumguides' %}
				{% assign slide-title = 'ScrumGuides.org' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'three-pillars-of-scrum' %}
				{% assign slide-title = 'Three Pillars of Scrum' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'scrum-practices' %}
				{% assign slide-title = 'Scrum Practices' %}
				{% assign slide-credit = 'London Wasps v Northampton Saints, October 2010, Peter Dean' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'roles' %}
				{% assign slide-title = 'Roles' %}
				{% assign slide-credit = 'LEGO' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'product-owner' %}
				{% assign slide-title = 'Product Owner' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}

				<section data-background="../images/steve-jobs.jpg"></section>

				{% assign slide = 'development-team' %}
				{% assign slide-title = 'Development  Team' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'scrummaster' %}
				{% assign slide-title = 'Scrum Master' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'not-the-boss' %}
				{% assign slide-title = 'You’re not the Boss of me now!' %}
				{% assign slide-credit = 'Malcolm in the Middle -  Fox Broadcasting Company' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'scrum-team' %}
				{% assign slide-title = 'Scrum Team' %}
				{% assign slide-credit = 'Glenbrook South Basketball Team (2011) https://flic.kr/p/aWf8jR' %}

				{% include presentations/slides/{{ slide }}.html %}

				<section data-background="../images/what-are-you-looking-at.jpg">
					<h1>So what are you?</h1>
				</section>

				{% assign slide = 'events' %}
				{% assign slide-title = 'Events' %}
				{% assign slide-credit = 'jpellgen  - Tea Ceremony at Kenroku-en - https://flic.kr/p/FfD3W' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'discovery-phase' %}
				{% assign slide-title = 'Discovery Phase' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'sprint-backlog-planning' %}
				{% assign slide-title = 'Sprint Planning' %}
				{% assign slide-credit = 'Sarah Ross "A plan implies an architect" - https://flic.kr/p/7BLEJA' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'sprints' %}
				{% assign slide-title = 'Sprints' %}
				{% assign slide-credit = 'MC Escher' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'daily-standup' %}
				{% assign slide-title = 'Daily Standup' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'backlog-grooming' %}
				{% assign slide-title = 'Backlog Grooming' %}
				{% assign slide-credit = 'Anjan Chatterjee "Grooming" https://flic.kr/p/3dihZ4' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'sprint-review' %}
				{% assign slide-title = 'Sprint Review' %}
				{% assign slide-credit = 'Dilbert' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'sprint-retrospective' %}
				{% assign slide-title = 'Sprint Retrospective' %}
				{% assign slide-credit = 'Roy Lichtenstien "Oh, Jeff... I Love You, Too... But..." (1964)' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'sprint-lifecycle' %}
				{% assign slide-title = 'Sprint Lifecycle' %}
				{% assign slide-credit = 'Gurtej Pal Singh - http://gurtejpsingh.wordpress.com/2013/07/03/what-is-scrum/' %}

				{% include presentations/slides/{{ slide }}.html %}

				<section>
					<h1>Putting it all into practice</h1>
				</section>

				<section data-background-iframe="https://www.youtube.com/embed/szr0ezLyQHY?rel=0&vq=hd720&modestbranding=1"></section>

				{% assign slide = 'feedback' %}
				{% assign slide-title = 'Feedback' %}
				{% assign slide-credit = 'Karl Horton - https://flic.kr/p/3UaCt1' %}

				{% include presentations/slides/{{ slide }}.html %}

				{% assign slide = 'contact' %}
				{% assign slide-title = '' %}
				{% assign slide-credit = '' %}

				{% include presentations/slides/{{ slide }}.html %}
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});
		</script>
	</body>
</html>
