<ul class="fragment" style="margin-top:60px;">
	<li>The point of this game is to pass as many balls as possible through every team member in 2 minutes</li>
	<li>The team gets a point for each ball passed through every member of the team provided that the first person to touch that ball is also the last</li>
	<li>There are up to 5 iterations</li>
	<li>Before each iteration the team estimates how many balls they think they will pass through the team</li>
	<li>At the end of each iteration the actual number of balls passed is recorded</li>
</ul>
