<div class="percent-50">
	<ul style="margin-top:60px;">
		<li class="fragment">Split into two equal groups</li>
		<li class="fragment">First group form a circle facing outwards</li>
		<li class="fragment">Second group stand opposite inner making an outer circle facing inwards</li>
		<li class="fragment">Outer circle offset by half</li>
		<li class="fragment">Starting with one player, pass to diagonal player</li>
	</ul>
</div>

<div class="fragment percent-50">
	<img src="/presentations/images/ball-point-game-solution.jpg" alt="">
</div>
