<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{% if page.title %}{{ page.title }} | Agile Mix{% else %}Agile Mix{% endif %}</title>

		<base href="/">

		<link href="assets/css/bootstrap.min.css" rel="stylesheet">

		<link href="assets/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
		<link href="assets/css/green.css" rel="stylesheet" title="Color">
		<link href="assets/css/owl.carousel.css" rel="stylesheet">
		<link href="assets/css/owl.transitions.css" rel="stylesheet">
		<link href="assets/css/animate.min.css" rel="stylesheet">

		<link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

		<link href="assets/fonts/fontello.css" rel="stylesheet">

		<link rel="shortcut icon" href="assets/images/favicon.ico?v=2">

		<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<header>
			<div class="navbar">
				<div class="navbar-header">
					<div class="container">
						<ul class="info pull-left">
							<li><a href="#"><i class="icon-mail-1 contact"></i> info@agilemix.com</a></li>
							<li><i class="icon-mobile contact"></i> +44 (0)7717 846090</li>
						</ul>

						<ul class="social pull-right">
							<li><a href="https://twitter.com/agilemix"><i class="icon-s-twitter"></i></a></li>
						</ul>

						<a class="navbar-brand" href="/"><img src="assets/images/logo.svg" class="logo" alt=""></a>

						<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
					</div>
				</div>

				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">
							<a class="navbar-brand" href="/"><img src="assets/images/logo.svg" class="logo" alt=""></a>

<!--
							<ul class="nav navbar-nav">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">Articles</a>

									<ul class="dropdown-menu">
										<li><a href="articles/principles-over-practices/">Principles over Practices</a></li>
									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">Presentations</a>

									<ul class="dropdown-menu">
										<li><a href="#">Agile Reset</a></li>
										<li><a href="#">Getting Stuff Done</a></li>
									</ul>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">Products</a>

									<ul class="dropdown-menu">
										<li><a href="/products/10at10to10/">10at10to10</a></li>
										<li><a href="/products/appflux/">appFlux</a></li>
									</ul>
								</li>

								<li>
									<a href="/contact/">Contact</a>
								</li>

								<li class="dropdown pull-right searchbox">
									<a href="#" class="dropdown-toggle js-activated"><i class="icon-search"></i></a>

									<div class="dropdown-menu">
										<form id="search" class="navbar-form search" role="search">
											<input type="search" class="form-control" placeholder="Type to search">
											<button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
										</form>
									</div>
								</li>
							</ul>
-->
						</div>
					</div>
				</div>
			</div>
		</header>

		{{ content }}

		{% include footer.html %}

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.easing.1.3.min.js"></script>
		<script src="assets/js/jquery.form.js"></script>
		<script src="assets/js/jquery.validate.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
		<script src="assets/js/skrollr.min.js"></script>
		<script src="assets/js/skrollr.stylesheets.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/waypoints-sticky.min.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<script src="assets/js/jquery.isotope.min.js"></script>
		<script src="assets/js/jquery.easytabs.min.js"></script>
		<script src="assets/js/google.maps.api.v3.js"></script>
		<script src="assets/js/viewport-units-buggyfill.js"></script>
		<script src="assets/js/scripts.js"></script>

		<!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
		<!--[if !IE]> -->
			<script src="assets/js/onscroll.js"></script>
		<!-- <![endif]-->
	</body>
</html>