<ul class="fragment">
	<li>Agile <span class="fragment">– A set of values to work by</span></li>
	<li class="fragment">Scrum <span class="fragment">– A framework to work within</span></li>
	<li class="fragment">Roles <span class="fragment">– An agreed understanding of responsibilities</span></li>
	<li class="fragment">Events <span class="fragment">– A series of knowledge sharing opportunities</span></li>
	<li class="fragment">Sprints <span class="fragment">– Deliver value on a regular cycle</span></li>
	<li class="fragment">Artefacts <span class="fragment">– A collection of items that show progress</span></li>
</ul>
