<style>
	#{{ slide.slide }} p {
		font-size: 30px;
	}

	#{{ slide.slide }} table {
		border-spacing: 10px;
		border-collapse: separate;
	}
</style>

<div class="top-100">
	<p class="fragment white-on-black" data-fragment-index="1">"We are uncovering better ways of developing
	software by doing it and helping others do it.
	Through this work we have come to value&hellip;"</p>

	<table>
		<tr>
			<td class="fragment white-on-black" data-fragment-index="3">
				<p>Individuals and interactions</p>
				<p>Working software</p>
				<p>Customer collaboration</p>
				<p>Responding to change</p>
			</td>
			<td class="fragment white-on-black" data-fragment-index="4">
				<p>over</p>
				<p>over</p>
				<p>over</p>
				<p>over</p>
			</td>
			<td class="fragment white-on-black" data-fragment-index="2">
				<p class="right">processes and tools</p>
				<p class="right">comprehensive documentation</p>
				<p class="right">contract negotiation</p>
				<p class="right">following a plan</p>
			</td>
		</tr>
	</table>

	<div class="fragment white-on-black" data-fragment-index="4">
		<p>"That is, while there is value in the items on the right, we value the items on the left more."</p>
	</div>
</div>

<aside class="notes">
	<ul>
		<li>Where does this idea come from?</li>
		<li>In Feb 2001, 17 leading lights in the software industry, frustrated by a number of project failures to deliver what was wanted and on time, met in a ski resort lodge in Utah to find a different way of approaching the problem.</li>
		<li>Built on ideas proposed by members of the group which they were already promoting - Scrum, Lean, Kanban, XP</li>
		<li>Kent Beck, Alistair Cockburn, Ward Cunningham, Martin Fowler, Ron Jeffries, Robert C. Martin, Ken Schwaber, Jeff Sutherland</li>
	</ul>
	</aside>
