<aside class="notes">
	* Marketing really likes this idea of iterating over ideas

	* We had our house painted recently and I don’t think the painter knew it but we were working together in an Agile way

	* We talked face-to-face about our requirements rather than issuing a spec

	* He painted samples on the wall rather than send us colour cards

	* We agreed a provisional sum for the works but allowed for variations

	* Which we had as we did a lot of the room clearing but added other rooms.
</aside>
