<style>
	#{{ slide.slide }} ol li {
		font-size: 30px;
	}
</style>

<div class="fragment white-on-black top-100" style="padding:20px;">
	<ol>
		<li>Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</li>

		<li class="fragment">Welcome changing requirements, even late in development. Agile processes harness change for the customer's competitive advantage.</li>

		<li class="fragment">Deliver working software frequently, from a couple of weeks to a couple of months, with a preference to the shorter timescale.</li>

		<li class="fragment" style="color:#ff99ff;font-style: italic;">Business people and developers must work together daily throughout the project.</li>

		<li class="fragment">Build projects around motivated individuals. Give them the environment and support they need, and trust them to get the job done.</li>

		<li class="fragment" style="color:#ff99ff;font-style: italic;">The most efficient and effective method of conveying information to and within a development team is face-to-face conversation.</li>
	</ol>
</div>
