<style>
	#{{ slide.slide }} ol li {
		font-size: 30px;
	}
</style>

<div class="white-on-black top-100" style="padding:20px;">
	<ol start="7">
		<li style="color:#ff99ff;font-style: italic;">Working software is the primary measure of progress.</li>

		<li class="fragment">Agile processes promote sustainable development. The sponsors, developers, and users should be able to maintain a constant pace indefinitely.</li>

		<li class="fragment">Continuous attention to technical excellence and good design enhances agility.</li>

		<li class="fragment">Simplicity--the art of maximizing the amount of work not done--is essential.</li>

		<li class="fragment" style="color:#ff99ff;font-style: italic;">The best architectures, requirements, and designs emerge from self-organizing teams.</li>

		<li class="fragment">At regular intervals, the team reflects on how to become more effective, then tunes and adjusts its behavior accordingly.</li>
	</ol>
</div>
