<div style="margin-top:100px;">
	<p class="fragment">Maybe we should call that refinement?</p>

	<ul class="fragment white-on-black bulleted-box">
		<li>Product Owner
			<ul>
				<li>Add more Stories</li>
				<li>Reorder Backlog</li>
				<li>Add more detail</li>
			</ul>
		</li>

		<li class="fragment">Development Team
			<ul>
				<li>Add more Stories</li>
				<li>Ask questions</li>
				<li>Re–guesstimate</li>
			</ul>
		</li>

		<li class="fragment">ScrumMaster
			<ul>
				<li>Advises on User Story content</li>
			</ul>
		</li>
	</ul>
</div>
