<section data-state="slide-title-{{ slide }} slide-credit-{{ slide }}" data-background="../images/grooming.jpg">
	{% include presentations/slides/slide-styles.html %}

	<p class="fragment" style="margin-top:120px;">Maybe we should call that refinement?</p>

	<ul class="fragment">
		<li>Product Owner
			<ul>
				<li>Add more Stories</li>
				<li>Reorder Backlog</li>
				<li>Add more detail</li>
			</ul>
		</li>
		<li>Development Team
			<ul>
				<li>Add more Stories</li>
				<li>Ask questions</li>
				<li>Re–guesstimate</li>
			</ul>
		</li>
		<li>ScrumMaster
			<ul>
				<li>Advises on User Story content</li>
			</ul>
		</li>
	</ul>
</section>
