<section data-state="header-{{ slide }} credit-{{ slide }}" data-background="../images/daily-standup.jpg">
	<style>
		.header-{{ slide }} h1.left:after {
			content: 'Daily Standup';
		}

		.credit-{{ slide }} footer.credit:after {
			content: '';
		}
	</style>

	<div class="white-on-black" style="margin-top:150px;width:65%;text-align:left;">
		<ul>
			<li>Every day!</li>
			<li>Everybody!</li>
			<li>Scrum Team
				<ul>
					<li>Product Owner</li>
					<li>Development Team</li>
					<li>ScrumMaster</li>
				</ul>
			</li>
			<li>15 minutes</li>
			<li>Catch up on how everyone’s doing
				<ul>
					<li>&ldquo;What I did last time&rdquo;</li>
					<li>&ldquo;What I’ll do this time&rdquo;</li>
					<li>&ldquo;What’s stopping me&rdquo;</li>
				</ul>
			</li>
		</ul>
	</div>
</section>
