<section data-state="slide-title-{{ slide }} slide-credit-{{ slide }}" data-background="../images/daily-standup.jpg">
	{% include presentations/slides/slide-styles.html %}

	<div class="white-on-black" style="margin-top:150px;width:49%;text-align:left;float:left;">
		<ul>
			<li>Every day!</li>
			<li>Everybody!</li>

			<li>Whole Scrum Team
				<ul>
					<li>Product Owner</li>
					<li>Development Team</li>
					<li>ScrumMaster</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="white-on-black" style="margin-top:150px;width:49%;text-align:left;float:right;">
		<ul>
			<li>15 minute catch up on how everyone’s doing
				<ul>
					<li>&ldquo;What I did last time&rdquo;</li>
					<li>&ldquo;What I’ll do this time&rdquo;</li>
					<li>&ldquo;What’s stopping me&rdquo;</li>
				</ul>
			</li>
		</ul>
	</div>
</section>
