<style>
	#daily-standup li {
		font-size: 35px;
	}
</style>

<div style="margin-top:100px">
	<div class="left-half">
		<ul class="fragment bulleted-box white-on-black">
			<li>Same time!</li>
			<li class="fragment">Same place!</li>
			<li class="fragment">Every day!</li>
			<li class="fragment">Everybody!</li>

			<li class="fragment">Whole Scrum Team
				<ul>
					<li class="fragment">Product Owner</li>
					<li class="fragment">Development Team</li>
					<li class="fragment">ScrumMaster</li>
				</ul>
			</li>

			<li class="fragment">15 minute catch up on how everyone's doing</li>
		</ul>
	</div>

	<div class="fragment right-half">
		<ul class="bulleted-box white-on-black">
			<li>&ldquo;What I did last time&rdquo;</li>
			<li class="fragment">&ldquo;What I’ll do this time&rdquo;</li>
			<li class="fragment">&ldquo;What’s stopping me&rdquo;</li>
		</ul>
	</div>
</div>
