<ul class="fragment white-on-black bulleted-box" style="margin-top:100px;">
	<li>Unit tests written</li>
	<li class="fragment">Deployed to Test environment</li>
	<li class="fragment">Documentation written</li>
	<li class="fragment">Committed to blessed repo</li>
	<li class="fragment">Code written</li>
	<li class="fragment">Tests passed</li>
	<li class="fragment">Ticket updated</li>
	<li class="fragment">Previewed to Product Owner</li>
	<li class="fragment">Peer reviewed</li>
	<li class="fragment">Shown to my Gran</li>
</ul>
