<ul class="fragment white-on-black bulleted-box" style="margin-top:100px;">
	<li>Shown to my Gran</li>
	<li class="fragment">Sent to the printers</li>
	<li class="fragment">Market Tests written</li>
	<li class="fragment">Documentation written</li>
	<li class="fragment">Saved to the shared folder</li>
	<li class="fragment">Copy written</li>
	<li class="fragment">Tests passed</li>
	<li class="fragment">Ticket updated</li>
	<li class="fragment">Previewed to Product Owner</li>
	<li class="fragment">Peer reviewed</li>
</ul>

<aside class="notes">
	* Before we can begin to estimate anything we need to agree what "done" means
	* A working agreement between all the members of the team
	* Definition of "Done" - all understand the meaning of the phrase "I have done this..."
	* Can be anything - decided by the Development Team and shared with others
	* Printed large and public!
	* It's about quality - shared understanding
	* Can be changed between sprints
</aside>
