<div style="margin-top:100px;">
	<div class="left-half">
		<ul>
			<li>Do the work</li>
			<li>5 - 9 members</li>
			<li>Works with the Product Owner</li>
			<li>Estimates the User Stories</li>
			<li>Decide how things are done</li>
			<li>Owns the Sprint Backlog</li>
			<li>Commit to deliver regularly </li>
			<li>Cross functional self-organising professionals</li>
		</ul>
	</div>

	<div class="right-half">
		<img src="presentations/images/development-team.jpg" alt="" style="border-style:none;border-width:0px;">
	</div>
</div>

<aside class="notes">
	* Size 7 ± 2 which is similar to a family and has been shown to the optimal number of people someone can relate to
	* Co-location is important to aid communication
	* Whole team accountability
	* No leaders - Scrum Master drives the ethos
	* Succeed or fail as a whole team
	* High level of collaboration
	* Estimates - Favour clean car/trim hedges/mow lawn/lick of paint - I’ll estimate for you
</aside>
