<section data-state="slide-title-{{ slide }} slide-credit-{{ slide }}">
	{% include presentations/slides/slide-styles.html %}

	<h2 style="margin-top:100px;">This is the most important role</h2>

	<ul style="float:left;width:50%;">
		<li>Do the work</li>
		<li>5 – 9 members</li>
		<li>Works with the Product Owner</li>
		<li>Estimates the User Stories</li>
		<li>Decide how things are done</li>
		<li>Owns the Sprint Backlog</li>
		<li>Commit to deliver regularly </li>
		<li>Cross functional self-organising professionals</li>
	</ul>

	<div style="float:right;width:45%;">
		<img src="../images/development-team.jpg" alt="">
	</div>
</section>
