<div>
	<ul class="fragment white-on-black bulleted-box" style="margin-top:100px;">
		<li>Establish Product Vision <span class="fragment">– Product Owner</span></li>
		<li class="fragment">Map User Stories <span class="fragment">– Everyone</span></li>
		<li class="fragment">Write User Stories <span class="fragment">– Product Owner</span></li>
		<li class="fragment">Define the Definition of &ldquo;Done&rdquo; <span class="fragment">– Development Team</span></li>
		<li class="fragment">Prioritise Product Backlog items <span class="fragment">– Product Owner</span></li>
		<li class="fragment">Estimate Stories <span class="fragment">– Development Team</span></li>
		<li class="fragment">Not time-boxed</li>
		<li class="fragment">Has output but not shippable (NOT Sprint Zero!)</li>
		<li class="fragment">Scrum Team members can come and go</li>
	</ul>
</div>

<!--
<aside class="notes">
	Sprint Zero but no Product increment
	Attendees: Scrum Team
	Timeboxed
	Product Owner shares Product vision and value
	Definition of “Done”
	Tee-shirt size (S/M/L - popcorn buckets - dogs)
	Produce the initial Product Backlog Item list
	Story Mapping
	Release planning
</aside>
-->
