<section data-state="slide-title-{{ slide }} slide-credit-{{ slide }}" data-background="../images/discovery.jpg">
	{% include presentations/slides/slide-styles.html %}

	<p style="float:right;">Sprint Zero</p>

	<div class="white-on-black" style="margin-top:200px;">
		<ul>
			<li>Establish Product Vision – Product Owner</li>
			<li>Produce Definition of &ldquo;Done&rdquo;– Development Team</li>
			<li>User Story Mapping– Everyone</li>
			<li>Write User Stories– Everyone (PO owns them)</li>
			<li>Estimate Stories– Development Team</li>
			<li>Product Backlog items– Product Owner</li>
			<li>Not time-boxed</li>
			<li>Has output but not shippable</li>
			<li>Scrum Team members come and go</li>
		</ul>
	</div>
</section>
