<ul class="fragment white-on-black bulleted-box" style="margin-top:100px;">
	<li>Practices of eXtreme Programming (XP)</li>
	<li class="fragment">Embrace Change (expect requirements to evolve)</li>
	<li class="fragment">Pair Programming (working together on a task)</li>
	<li class="fragment">Test Driven Development (check ideas frequently)</li>
	<li class="fragment">Sustainable Pace (don’t work weekends)</li>
	<li class="fragment">Co-Location (work with the customer and team)</li>
	<li class="fragment">Continuous Integration (deliver value frequently)</li>
	<li class="fragment">Refactor (work on the problem as it is now)</li>
	<li class="fragment">Small Releases (get stuff out soon)</li>
</ul>