<div style="width:50%;float:right;">
	<ul>
		<li class="fragment">A polite word for a guess</li>
		<li class="fragment">Improves with experience</li>
		<li class="fragment">Cone of uncertainty</li>
	</ul>

	<img src="/presentations/images/bean-jar.png" alt="" width="75%">
</div>

<div class="fragment" style="width:50%;float:left;">
	<img src="/presentations/images/hurricane.png" alt="">
</div>

<p style="font-size:25px;text-align:left;">
	"The exact number of candies in this jar can not be determined by looking at it, because most of the candies are not visible. The amount can be estimated by presuming that the portion of the jar that cannot be seen contains an amount equivalent to the amount contained in the same volume for the portion that can be seen" http://en.wikipedia.org/wiki/Estimation
</p>

<aside class="notes">
	At the beginning of a project, comparatively little is known about the product or work results, and so estimates are subject to large uncertainty.

	National Hurricane Center - National Weather Service

	In Agile we can look at it from the other direction - I can predict what I can do in the next two weeks but not what I can achieve in the next two months

	Builder - difference between an estimate and a quote
</aside>
