<section data-state="header-{{ slide }} credit-{{ slide }}" data-background="../images/tea-ceremony.jpg">
	<style>
		.header-{{ slide }} h1.left:after {
			content: 'Events';
		}

		.credit-{{ slide }} footer.credit:after {
			content: 'jpellgen  - Tea Ceremony at Kenroku-en - https://flic.kr/p/FfD3W';
		}
	</style>

	<div class="white-on-black" style="width:50%;text-align:left;">
		<ul>
			<li>Discovery Phase</li>
			<li>Sprint Planning</li>
			<li>Sprints</li>
			<li>Daily Standup</li>
			<li>Product Backlog Grooming</li>
			<li>Sprint Review</li>
			<li>Sprint Retrospective</li>
		</ul>
	</div>
</section>
