<div style="margin-top:80px;">
	<div class="fragment fade-in" style="float:left;">
		<p align="left">Questions?</p>
		<p align="left">Feedback?</p>
		<p align="left">Comments?</p>
	</div>

	<!--
	<ul class="white-on-black" style="float:left;">
		<li>Does your current experience match waterfall?</li>
		<li>Do you feel a change is needed?</li>
		<li>Do you think Agile could be applied?</li>
		<li>Do you think Agile wouldn’t work for your company?</li>
		<li>Would you like some help to see if it could?</li>
	</ul>
	-->

	<img src="/presentations/images/feedback.gif" alt="" style="float:right;" width="700px">
</div>
