<section data-state="header-{{ slide }} credit-{{ slide }}">
	<style>
		.header-{{ slide }} h1.left:after {
			content: 'Feedback';
		}

		.credit-{{ slide }} footer.credit:after {
			content: 'Karl Horton - https://flic.kr/p/3UaCt1';
		}
	</style>

	<div class="fragment fade-in" style="float:left;margin-top:250px;">
		<p align="left">Questions?</p>
		<p align="left">Feedback?</p>
		<p align="left">Comments?</p>
	</div>

	<img src="../images/feedback.gif" alt="" style="float:right;margin-top:120px;" width="700px">
</section>
