<!--
https://www.youtube.com/watch?v=KqbpIGvtM78
https://www.youtube.com/watch?v=NnxjZ-aFkjs
15th October 1987
<iframe data-autoplay src="https://www.youtube.com/v/NnxjZ-aFkjs?start=2&end=18"></iframe>
-->

<div class="percent-50">
	<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/NnxjZ-aFkjs?autoplay=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;start=2&amp;end=18" frameborder="0" allowfullscreen></iframe> -->
</div>

<div class="fragment white-on-black percent-50" style="float:right; padding:20px;">
	<ul>
		<li>Yesterdays weather</li>
		<li class="fragment">Look back over past work</li>
		<li class="fragment">Keep metrics on similar stories</li>
		<li class="fragment">Forecast based on experience</li>
		<li class="fragment">Track stories through the stages</li>
	</ul>
</div>


