<ul class="fragment white-on-black bulleted-box" style="margin-top:100px;">
	<li>Richard Herbert MSc CSM - richard@agilemix.com</li>
	<li class="fragment">Originally started in architecture and engineering</li>
	<li class="fragment">Got into computing via structural analysis</li>
	<li class="fragment">Moved into IT management</li>
	<li class="fragment">Been a freelance web developer since 2000</li>
	<li class="fragment">MSc Internet Systems Development</li>
	<li class="fragment">Certified Scrum Master</li>
	<li class="fragment">Available for weddings, christenings, Bar Mitzvahs and other Agile opportunities</li>
</ul>
