<section data-state="header-{{ slide }} credit-{{ slide }}" data-background="../images/getting-to-know-you.jpg">
	<style>
		.header-{{ slide }} h1.left:after {
			content: "Getting to Know You...";
		}

		.credit-{{ slide }} footer.credit:after {
			content: "The King and I - 20th Century Fox (1956)";
		}
	</style>

	<div class="fragment" style="background: rgba(54, 25, 25, 0.75);padding:50px;">
		<ul>
			<li>Originally started in architecture and engineering</li>
			<li>Got into computing via structural analysis</li>
			<li>Moved in IT management</li>
			<li>Been a freelance web developer since 2001</li>
			<li>MSc Internet Systems Development</li>
			<li>Certified Scrum Master</li>
			<li>Available for weddings, christenings, Bar Mitzvahs and other Agile opportunities</li>
		</ul>
	</div>
</section>
