<section data-state="slide-title-{{ slide }} slide-credit-{{ slide }}" data-background="../images/getting-to-know-you.jpg">
	{% include presentations/slides/slide-styles.html %}

	<div class="fragment" style="background:rgba(33, 33, 33, 0.75);padding:50px;margin-top:110px;">
		<ul>
			<li>Originally started in architecture and engineering</li>
			<li>Got into computing via structural analysis</li>
			<li>Moved in IT management</li>
			<li>Been a freelance web developer since 2001</li>
			<li>MSc Internet Systems Development</li>
			<li>Certified Scrum Master</li>
			<li>Currently working for the IET in Stevenage</li>
			<li>Available for weddings, christenings, Bar Mitzvahs and other Agile opportunities</li>
		</ul>
	</div>
</section>
