<style>
	#hamlet-2 p {
		font-size: 20px;
		margin:0;
	}
</style>

<div class="left" style="margin-top:50px;width:400px;float:left;">
	<div>
		<p>From: Shakespeare, Will<br>
 To: Macintosh, Cameron <br>
Subject: Hamlet</p>
		<hr>
		<p>I've got this idea for a scene...<br><br>
		"To be, or not to be, that is the question. <br>
		Whether 'tis Nobler in the mind to suffer <br>
		The Slings and Arrows of outrageous Fortune, <br>
		Or to take Arms against a Sea of troubles, <br>
		And by opposing end them?"</p>
	</div>

	<div style="padding-top:20px;color:#ff99ff;">
		<p>From: Macintosh, Cameron<br>
 To: Shakespeare, Will <br>
 Subject: Re: Hamlet</p>
		<hr>
		<p>Nope, I'm not geting it.</p>
	</div>

	<div style="padding-top:20px;">
		<p>From: Shakespeare, Will<br>
 To: Macintosh, Cameron<br>
 Subject: Re: Hamlet</p>
		<hr>
		<p> Okay, let me pop over with my actor mate, Larry and we can go over it.</p>
	</div>
</div>

<div style="margin-top:50px;width:550px;float:left;">
	<video data-autoplay src="/presentations/images/hamlet-cropped.mp4"></video>
</div>
