<style>
	.percent-50 {
		width:50%;
		float:left;
	}
</style>

<div style="margin-top:80px;">
	<div class="percent-50">
		<ul class="fragment white-on-black bulleted-box" style="font-size:30px;">
			<li>Naming things (49%)</li>
			<li class="fragment">Explaining what I do (16%)</li>
			<li class="fragment">Estimating time to complete tasks (10%)</li>
			<li class="fragment">
				The challenge:

				<ul>
					<li class="fragment">guessing how long something, that you possibly haven’t done before, will take</li>
					<li class="fragment">making estimates based on vague requirements</li>
					<li class="fragment">trying to allot time for dealing with unforeseen problems</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="fragment percent-50">
		<img src="../images/programmers-hardest-tasks.jpg" alt="" style="margin:0;">
	</div>
</div>


