<section data-state="header-{{ slide }} credit-{{ slide }}" data-background="../images/rugby.jpg" data-background-size="900px">
	<style>
		.header-{{ slide }} h1.left:after {
			content: 'History of Scrum';
		}

		.credit-{{ slide }} footer.credit:after {
			content: '';
		}
	</style>

	<ul style="width:84%;float:left;margin:80px 0 0 -80px;">
		<li class="fragment white-on-black">Proposed in 1986 by Hirotaka Takeuchi and Ikujiro Nonaka</li>
		<li class="fragment white-on-black">&ldquo;a flexible, holistic product development strategy where a development team works as a unit to reach a common goal&rdquo;</li>
		<li class="fragment white-on-black">A framework that supports the Agile philosophy</li>
	</ul>
</section>
