<style>
	#invest tbody td {
		font-size:30px;
	}
</style>

<table id="invest" style="margin-top:70px;">
	<tbody>
		<tr class="fragment">
			<td>I</td>
			<td>Independent</td>
			<td>
				The user story should be self-contained, in a way that there is no inherent dependency on another user story
			</td>
		</tr>
		<tr class="fragment">
			<td>N</td>
			<td>Negotiable</td>
			<td>
				User stories, up until they are part of an iteration, can always be changed and rewritten
			</td>
		</tr>
		<tr class="fragment">
			<td>V</td>
			<td>Valuable</td>
			<td>A user story must deliver value to the end user</td>
		</tr>
		<tr class="fragment">
			<td>E</td>
			<td>Estimable</td>
			<td>You must always be able to estimate the size of a user story</td>
		</tr>
		<tr class="fragment">
			<td>S</td>
			<td>Small</td>
			<td>
				User stories should not be so big as to become impossible to plan/task/prioritise with a certain level of certainty
			</td>
		</tr>
		<tr class="fragment">
			<td>T</td>
			<td>Testable</td>
			<td>
				The user story or its related description must provide the necessary information to make test development possible
			</td>
		</tr>
	</tbody>
</table>