<p class="white-on-black" style="padding:10px 30px;">"Every year there is a new estimation technique. The real Agile approach would be to throw estimates out" <br> Ron Jeffries - Agile Manifesto co-author</p>

<div class="fragment white-on-black">
	<ul class="bulleted-box">
		<li>A popular movement in the Agile world</li>
		<li>Considers estimating a waste of time</li>
		<li>"At the one point in the project when I know the least about it you want me to commit to a timescale and cost!"</li>
		<li>A ship's Captain can only see as far as the horizon</li>
	</ul>
</div>
