<section data-state="slide-title-{{ slide }} slide-credit-{{ slide }}">
	{% include presentations/slides/slide-styles.html %}

	<h2 style="margin-top:100px;">This is the most important role</h2>

	<div>
		<h4>Represents the Customer</h4>
		<h4>Holds the Product Vision</h4>
	</div>

	<ul style="float:left;width:50%;">
		<li>Domain Expert</li>
		<li>Has organisational respect to drive through vision</li>
		<li>Decides the priorities</li>
		<li>Works with the Dev Team</li>
		<li>Provides detailed insight </li>
		<li>Owns the User Stories</li>
		<li>Owns the Product Backlog</li>
	</ul>

	<img src="../images/product-owner.jpg" alt="">
</section>
