<aside class="notes">
	* Insight into applying the Scrum Agile framework to a software product…

	* Retrospective on what Agile is so as to inform the foundation of Scrum

	* First some background on Agile and Scrum...

	* Agile is fast becoming a popular way of tackling tough problems and the IET has has made a strategic decision to look at applying Agile principles. The object for me today is to share with you the background and principles of Agile, how they can be applied day-to-day in your work and even your home life. I’ll be asking you to consider a different way to get stuff done. I’ll try not to focus on technology projects but relate to other situations that can benefit from the Agile philosophy. So try and think about Agile in terms of your department and role

	* Feel free to ask questions at any time and we can discuss the points and relate Agile to them
</aside>