<aside class="notes">
	<ul>
		<li>Project management as an activity can be traced back to the Egyptians</li>
		<li>2,500 BC - Ancient records show there were managers responsible for overseeing the completion of the Great Pyramid</li>
		<li>1917 - Gantt chart</li>
		<li>Now we are in the digital age there is more opportunity for change</li>
		<li>Can we make a change to that roof design?</li>
		<li>Can we just move that building 10 m to the right?</li>
		<li>There needs to be an approach that is flexible enough to cope with the inevitable change that happens</li>
		<li>Santiago Calatrava - Spanish</li>
	</ul>
</aside>
