<aside class="notes">
	* Project management as an activity can be traced back to the Egyptians

	* 2,500 BC - Ancient records show there were managers responsible for overseeing the completion of the Great Pyramid

	* 1917 - Gantt chart

	* Now we are in the digital age there is more opportunity for change

	* Can we make a change to that roof design?

	* Can we just move that building 10 m to the right?

	* There needs to be an approach that is flexible enough to cope with the inevitable change that happens

	* Santiago Calatrava - Spanish
</aside>