<ul class="fragment white-on-black bulleted-box">
	<li><h2>Transparency</h2></li>
	<li class="fragment"><h2>Inspection</h2></li>
	<li class="fragment"><h2>Adaptation</h2></li>
</ul>

<aside class="notes">
	* Scrum is focused on delivering high-quality software products in chunks within short iterations while  being modified by feedback from users of the products

	* Transparency (definition of done)
		* Sharing status (standup)
		* Visible progress (burndown)
	* Inspection (artefacts)
		* Frequent review (review)
		* Check against changing requirements
	* Adaptation (retrospective, refinement)
		* Willingness to change
</aside>
