
<p class="fragment" style="position:fixed;left:500px;bottom:-250px;">Product Owner</p>
<p class="fragment" style="position:fixed;left:700px;top:0px;color:#000">Development<br>Team</p>
<p class="fragment" style="position:fixed;left:400px;top:-200px">Scrum Master</p>
<p class="fragment" style="position:fixed;left:900px;top:-300px;">Customers</p>
<!--
-->


<!--
<img style="position:fixed;top:80px;" src="presentations/images/product-owner.png" alt="">
<img src="presentations/images/scrum-master.png" alt="">
<img src="presentations/images/customers.png" alt="">
-->

<aside class="notes">
	* Software development is a team sport
	* Basketball is a good analogy for a Scrum Team
	* Coach - Product Owner - has the vision - knows what needs to be done - represents the stakeholders
	* Players - Dev Team - play the actual game - Multi-skilled, play together - single unit
	* Ass Coach - ScrumMaster - in the background - helping Coach/Player win the game
	* Crowd - Customers
</aside>
