<section data-state="header-{{ slide }} credit-{{ slide }}">
	<style>
		.header-{{ slide }} h1.left:after {
			content: 'Scrum Master';
		}

		.credit-{{ slide }} footer.credit:after {
			content: '';
		}
	</style>

	<h2 style="margin-top:100px;">This is the most important role</h2>

	<ul style="float:left;width:50%;">
		<li>Maintains the Scrum Values</li>
		<li>Works for the Scrum Team</li>
		<li>Servant – Leader</li>
		<li>Facilitates the Scrum Process</li>
		<li>Supports Product Owner</li>
		<li>Resolves impediments </li>
		<li>Protects the Team from interference</li>
	</ul>

	<div style="float:right;width:45%;">
		<img src="../images/scrummaster.jpg" alt="">
	</div>
</section>
