<section data-state="slide-title-{{ slide }} slide-credit-{{ slide }}" data-background="../images/scrum.jpg">
	{% include presentations/slides/slide-styles.html %}

	<style>
		ul {
			background-color: red;
			margin-left: 50px;
			list-style-position: inside;
			/*width:600px;*/
			padding-left:50px;
		}

		div#xx {
			font-size:80px;
			background-color: blue;
			padding: 50px;
		}
	</style>

	<!-- <div style="background:rgba(33, 33, 33, 0.75);margin-top:110px;width:50%;padding:50px;font-size:80px;"> -->
	<div id="xx">
		<ul style="">
			<li class="fragmentXXXX">Roles</li>
			<li class="fragmentXXXX">Event</li>
			<li class="fragmentXXXX">Artefacts</li>
		</ul>
	</div>
</section>
