<section data-state="header-{{ slide }} credit-{{ slide }}">
	<style>
		.header-{{ slide }} h1.left:after {
			content: 'Scrum moves on – 1995';
		}

		.credit-{{ slide }} footer.credit:after {
			content: '';
		}
	</style>

	<ul>
		<li>&ldquo;A framework within which people can address complex adaptive problems, while productively and creatively delivering products of the highest possible value&rdquo;</li>
		<li>Call projects &ldquo;Products&rdquo; to signify we will deliver a tangible benefit - value</li>
		<li>Empirical approach to getting things done</li>
	</ul>
</section>
