<section data-state="slide-title-{{ slide }} slide-credit-{{ slide }}">
	{% include presentations/slides/slide-styles.html %}

	<h2 style="margin-top:65px;">This is the most important role</h2>

	<h4>Champion of the Scrum Values</h4>

	<ul style="float:left;width:50%;">
		<li>Works for the Scrum Team</li>
		<li>Servant – Leader</li>
		<li>Facilitates the Scrum Process</li>
		<li>Supports Product Owner</li>
		<li>Resolves impediments </li>
		<li>Protects the Team from interference</li>
	</ul>

	<div style="float:right;width:45%;">
		<img src="../images/scrummaster.jpg" alt="">
	</div>
</section>
