<div style="margin-top:100px;">
	<div class="left-half">
		<ul>
			<li>Works for the Scrum Team</li>
			<li>Servant - Leader</li>
			<li>Facilitates the Scrum Process</li>
			<li>Supports Product Owner</li>
			<li>Resolves impediments</li>
			<li>Maintains the Scrum Values</li>
			<li>Protects the Team from interference</li>
		</ul>
	</div>

	<div class="right-half">
		<img src="presentations/images/scrummaster.jpg" alt="" style="border-style:none;border-width:0px;">
	</div>
</div>

<aside class="notes">
	* Not a Scrum "Manager" - Scrum "Facilitator" - No authority
	* Facilitator of the process and creativity
	* Holds the Scrum vision
	* Coaches on how to apply the Scrum framework
	* Supports the Product Owner write good Stories
	* Supports the Development Team by resolving blockers and shielding from interference
	* Servant - Leader
	* Act as agent for change
</aside>
