<div class="top-50">
	<ul class="fragment" data-fragment-index="3">
		<li>&ldquo;A framework within which people can address complex adaptive problems, while productively and creatively delivering products of the highest possible value&rdquo;</li>
		<li>Call projects &ldquo;Products&rdquo; to signify we will deliver a tangible benefit - value</li>
		<li>Empirical approach to getting things done</li>
	</ul>

	<div>
		<div class="fragment left-third left" data-fragment-index="1">
			<img src="presentations/images/ken-schwaber.jpg" alt="">
		</div>

		<div class="fragment right-third right" data-fragment-index="2">
			<img src="presentations/images/jeff-sutherland.jpg" alt="">
		</div>
	</div>

	<p class="fragment" data-fragment-index="4">http://scrumguides.org/</p>
</div>

<aside class="notes">
	<ul>
		<li>1986 - Hirotaka Takeuchi and Ikujiro Nonaka</li>
		<li>1995 - Ken Schwaber and Jeff Sutherland "Scrum Methodology"</li>
		<li>"SCRUM Software Development Process"</li>
		<li>OOPSLA conference in Austin, Texas, 1995</li>
	</ul>
</aside>
