<div style="margin-top:100px;">
	<div class="left-half">
		<ul>
			<li>Works for the Scrum Team</li>
			<li>Servant - Leader</li>
			<li>Facilitates the Scrum Process</li>
			<li>Supports Product Owner</li>
			<li>Resolves impediments</li>
			<li>Maintains the Scrum Values</li>
			<li>Protects the Team from interference</li>
		</ul>
	</div>

	<div class="right-half">
		<img src="presentations/images/scrummaster.jpg" alt="" style="border-style:none;border-width:0px;">
	</div>
</div>

<aside class="notes">
	<ul>
		<li>Not a Scrum "Manager" - Scrum "Facilitator" - No authority</li>
		<li>Facilitator of the process and creativity</li>
		<li>Holds the Scrum vision</li>
		<li>Coaches on how to apply the Scrum framework</li>
		<li>Supports the Product Owner write good Stories</li>
		<li>Supports the Development Team by resolving blockers and shielding from interference</li>
		<li>Servant - Leader</li>
		<li>Act as agent for change</li>
	</ul>
</aside>
