<div class="right" style="margin-top:325px;">
	<p><span class="fragment white-on-black" style="padding:0 20px;">Embrace change</span></p>
	<p><span class="fragment white-on-black" style="padding:0 20px;">Frustration with failure</span></p>
	<p><span class="fragment white-on-black" style="padding:0 20px;">Looking for another way</span></p>
	<p><span class="fragment white-on-black" style="padding:0 20px;">Focus on doing the right thing</span></p>
	<p><span class="fragment white-on-black" style="padding:0 20px;">Give the customer what they want - value</span></p>
</div>
