<ul class="fragment white-on-black bulleted-box" style="position:fixed;top:-300px;width:400px;">
	<li>&ldquo;Wot went right?&rdquo;</li>
	<li class="fragment">&ldquo;Wot went wrong?&rdquo;</li>
	<li class="fragment">&ldquo;Wot can we do better?&rdquo;</li>
</ul>

<p class="fragment white-on-black left" style="position:fixed;top:90px;left:520px;width:500px;font-size:30px;padding:20px;">
	"Regardless of what we discover, we understand and truly believe that everyone did the best job they could, given what they knew at the time, their skills and abilities, the resources available, and the situation at hand"
</p>
