<section data-state="header-{{ slide }} credit-{{ slide }}" data-background="../images/planning.jpg">
	<style>
		.header-{{ slide }} h1.left:after {
			content: 'Sprint Planning';
		}

		.credit-{{ slide }} footer.credit:after {
			content: 'Sarah Ross "A plan implies an architect" - https://flic.kr/p/7BLEJA';
		}
	</style>

	<ul style="color:#000;float:left;">
		<li>Review prioritised Product Backlog</li>
		<li>Get missing detail from Product Owner</li>
		<li>Understand Acceptance Criteria </li>
		<li>Define Sprint Backlog</li>
		<li>Commit to deliver in Sprint</li>
		<li>1 hour per Sprint week</li>
	</ul>
</section>
