<section data-state="header-{{ slide }} credit-{{ slide }}" data-background="../images/sprint-review.jpg" data-background-size="100%">
	<style>
		.header-{{ slide }} h1.left:after {
			content: 'Sprint Review';
		}

		.credit-{{ slide }} footer.credit:after {
			content: 'Dilbert';
		}
	</style>

	<div class="white-on-black" style="margin-top:150px;width:80%;text-align:left;">
		<ul>
			<li>Development Team &ldquo;show and tell&rdquo;</li>
			<li>Audience – Product Owner and Stakeholders</li>
			<li>Demonstrate shippable business value</li>
			<li>Get agreement to deploy to Production</li>
		</ul>
	</div>
</section>
