<section data-state="slide-title-{{ include.slide }} slide-credit-{{ include.slide }}">
	{% include presentations/slides/slide-styles.html %}

	<div style="margin-top:100px">
		<ul>
			<li class="fragment">Development Team &ldquo;show and tell&rdquo;</li>
			<li class="fragment">Audience – Product Owner and Stakeholders</li>
			<li class="fragment">Demonstrate shippable business value</li>
			<li class="fragment">Get agreement to deploy to Production</li>
		</ul>
	</div>

	<div class="fragment white-on-black">
		<img src="../images/sprint-review.jpg" alt="">
	</div>
</section>
