<section data-state="slide-title-{{ slide }} slide-credit-{{ slide }}" data-background="../images/sprint-review.jpg" data-background-size="100%">
	{% include presentations/slides/slide-styles.html %}

	<div class="white-on-black" style="margin-top:150px;width:80%;text-align:left;">
		<ul>
			<li>Development Team &ldquo;show and tell&rdquo;</li>
			<li>Audience – Product Owner and Stakeholders</li>
			<li>Demonstrate shippable business value</li>
			<li>Get agreement to deploy to Production</li>
		</ul>
	</div>
</section>
