<style>
	.small-list li {
		font-size:25px;
	}
</style>

<div class="fragment white-on-black" style="width:30%;float:left;margin-top:90px;margin-right:10px;padding:20px 0;">
	<ul class="small-list" style="font-size:30px;">
		<li>Not time but effort based sizing</li>
		<li class="fragment">Tee-shirt sizing (small, medium, large, x-large)</li>
		<li class="fragment">Trouser sizing (short, regular, long, x-long)</li>
		<li class="fragment">Dogs (Chihuahua, Greyhound, St Bernard, Great Dane)</li>
		<li class="fragment">Story Points
			<ul>
				<li class="fragment">Relative sizing (1, 2, 3, 5, 8, 13, 21, 34)</li>
			</ul>
		</li>
	</ul>
</div>

<div class="fragment white-on-black" style="width:30%;float:left;margin-top:90px;margin-right:10px;padding:20px 0;">
	<ul class="small-list">
		<li>Planning Poker</li>
		<li class="fragment">All show their hand at the same time</li>
		<li class="fragment">Discuss and justify variations</li>
		<li class="fragment">Agree the effort – if not, break the Story</li>
	</ul>
</div>

<div class="fragment white-on-black" style="width:30%;float:left;margin-top:90px;padding:20px 0;">
	<ul class="small-list">
		<li>Team Velocity</li>
		<li class="fragment">Initially a guess</li>
		<li class="fragment">Indication of capacity</li>
		<li class="fragment">Indication of completion</li>
		<li class="fragment">Burndown Chart</li>
	</ul>
</div>

<div style="padding-top:5px;clear:both;">
	<p class="fragment white-on-black" style="font-size:30px;text-align:left;padding:10px;">Story Points:<br>The separation of the estimation of <u>effort</u> from the estimation of <u>duration</u></p>
</div>

<aside class="notes">
	<ul>
		<li>Tee-shirt – avoid a middle value</li>
		<li>Sizing is relative</li>
		<li>Not time based but effort</li>
		<li>Choose a medium size story and make that the benchmark by which all stories are measured relative to</li>
		<li>Don't change the benchmark</li>
	</ul>
</aside>
