<aside class="notes">
	* Iron Triangle or Triple Constraints

	* Too many degrees of freedom - beam can slide expand along it's lemgth but not drop down or slide off it's bearing

	* To a client as a developer, you have pick any two but I control the third

	* Euler diagram

	* Unlike Venn type diagrams, there is no “sweet spot”

	* Waterfall - fixed around scope what to deliver, include resources and time is at risk
	* Agile - fixed around time and resources which means scope is at risk but small time slices means that changes in scope can be easily accommodated. You will see that establishing a stable team and short time boxed iterations of work allow for a flexible scope which can react to change
</aside>
