<section data-state="header-{{ slide }} credit-{{ slide }}" data-background="../images/umbrella.jpg">
	<style>
		.header-{{ slide }} h1.left:after {
			content: 'Umbrella Term';
		}

		.credit-{{ slide }} footer.credit:after {
			content: 'Umbrella street in Belgrade, Serbia, Matej Duzel';
		}
	</style>

	<div class="fragment" style="background: rgba(54, 25, 25, 0.75);padding:50px;">
		<ul>
			<li>Kanban</li>
			<li>DSDM</li>
			<li>Lean</li>
			<li>XP</li>
			<li>Feature Driven Development (FDD)</li>
			<li>Scrum</li>
		</ul>
	</div>
</section>
