<ul class="fragment white-on-black bulleted-box">
	<li>Dynamic Systems Development Method (DSDM)</li>
	<li class="fragment">Feature Driven Development (FDD)</li>
	<li class="fragment">Extreme Programming (XP)</li>
	<li class="fragment">Lean Startup</li>
	<li class="fragment">Kanban</li>
	<li class="fragment">Scrum</li>
</ul>

<aside class="notes">
	* Agile is a philosophy, not a process, not a framework but a set of values to work by.
	* It tends to be an umbrella term for a collection of methods and approaches to improving the quality of a product.
</aside>
