<div style="float:left;margin-top:75px;">
<!-- https://developers.google.com/youtube/player_parameters -->
	<iframe width="700" height="500" src="https://www.youtube.com/embed/X2G8BNgSA3M?autoplay=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;controls=0" frameborder="0" allowfullscreen></iframe>
</div>

<div>
	<p class="fragment white-on-black" style="width:60%;float:right;text-align:right;font-size:25px;">Linguist Geoffrey Pullum stated the quotation was "completely straightforward" and "impeccable, syntactically, semantically, logically, and rhetorically" http://en.wikipedia.org/wiki/There_are_known_knowns</p>
</div>
