<div style="float:left;margin-top:75px;">
	<img width="700" width="415" src="/presentations/images/unknown-unknowns.jpg" alt="">
</div>

<div class="white-on-black" style="position:absolute;right:0;bottom:0px;padding:0px 20px;">
	<p style="text-align:left;font-size:25px;">Linguist Geoffrey Pullum stated the quotation was "completely straightforward" and "impeccable, syntactically, semantically, logically, and rhetorically. There is nothing baffling about its language at all."<br>http://itre.cis.upenn.edu/~myl/languagelog/archives/000182.html</p>
</div>
