<ul style="bulleted-box">
	<li class="fragment">Goals or Epics</li>
	<li class="fragment">Features or Activities of each Goal</li>
	<li class="fragment">Tasks or outline Stories that form each Feature</li>
	<li class="fragment">Group Tasks into Releases</li>
</ul>

<aside class="notes">
	<ul>
		<li>Capture high level overview of the product</li>
		<li>Get a feel of the extent and timescale</li>
		<li>Capture headline functionality as goals or epics</li>
		<li>Identify activities or features of goals</li>
		<li>Collect tasks or lightweight stories</li>
	</ul>
</aside>
