<ul style="bulleted-box">
	<li class="fragment">Goals or Epics</li>
	<li class="fragment">Features or Activities of each Goal</li>
	<li class="fragment">Tasks or outline Stories that form each Feature</li>
	<li class="fragment">Group Tasks into Releases</li>
</ul>

<aside class="notes">
	* Capture high level overview of the product
	* Get a feel of the extent and timescale
	* Capture headline functionality as goals or epics
	* Identify activities or features of goals
	* Collect tasks or lightweight stories
</aside>