<div class="top-100">
	<div class="fragment left-half">
		<ul class="white-on-black bulleted-box">
			<li>Short and to the point</li>
			<li class="fragment">Limited to an index card</li>
			<li class="fragment">Promise of a further conversation</li>
			<li class="fragment">Includes acceptance criteria</li>
			<li class="fragment">Estimated with Story Points</li>
		</ul>
	</div>

	<div class="fragment right-half">
		<img src="/presentations/images/story-format.png" alt="">
	</div>
</div>

<div class="fragment" style="clear:both;padding-top:10px;">
	<p class="white-on-black">A promise of a further conversation</p>
</div>

<aside class="notes">
	* Love this picture - who’s the PO who’s the Dev Team?
	* As a pupil I want to learn about Geography so that I can choose better holiday destinations when I get older
	* Product Owner write the stories with the dev team
	* Add acceptance criteria on the back - validation
	* Can be written at anytime - most at Discovery Phase
</aside>
