<div style="margin-top:75px;">
	<img class="fragment" src="/presentations/images/user-story-map-1.png" alt="" style="margin:0 auto;display:block;width:800px;border:0;" >
	<img class="fragment" src="/presentations/images/user-story-map-2.png" alt="" style="margin:0 auto;display:block;width:800px;border:0;" >
	<img class="fragment" src="/presentations/images/user-story-map-3.png" alt="" style="margin:0 auto;display:block;width:800px;border:0;" >
	<img class="fragment" src="/presentations/images/user-story-map-4.png" alt="" style="margin:0 auto;display:block;width:800px;border:0;" >
	<img class="fragment" src="/presentations/images/user-story-map-5.png" alt="" style="margin:0 auto;display:block;width:800px;border:0;" >
</div>

<aside class="notes">
	Process across the top and value up the side

	Capture high level overview of the product
	Get a feel of the extent and timescale
	Capture headline functionality as goals or epics
	Identify activities or features of goals
	Collect tasks or lightweight stories
</aside>
