<ul class="fragment white-on-black bulleted-box">
	<li>What needs to be done</li>
	<li class="fragment">What activity needs to be performed</li>
	<li class="fragment">A narrative that briefly describes what the persona wants to achieve that will deliver value</li>
	<li class="fragment">Something that can be tested</li>
</ul>

<aside class="notes">
	<ul>
		<li>Action</li>
		<li>Objective</li>
		<li>Function</li>
		<li>Feature</li>
		<li>Could be written by Development Team as they are experienced in how things work together</li>
	</ul>
</aside>
