<div class="fragment percent-50 white-on-black">
	<ul class="bulleted-box">
		<li>Short and to the point</li>
		<li class="fragment">Limited to a index card</li>
		<li class="fragment">Promise of a further conversation</li>
		<li class="fragment">Includes acceptance criteria</li>
		<li class="fragment">Estimated with Story Points</li>
	</ul>
</div>

<div class="fragment percent-50">
	<img src="../images/story-format.png" alt="">
</div>

<aside class="notes">
	Love this picture - who’s the PO who’s the Dev Team?
	As a pupil I want to learn about Geography so that I can choose better holiday destinations when I get older
	Product Owner write the stories with the dev team
	Add acceptance criteria on the back - validation
	Can be written at anytime - most at Discovery Phase
	Mailchimp personas
</aside>
