<div class="fragment" data-fragment-index="2" style="width:33%;float:left;margin-top:60px;">
	<img src="../images/development-team.png" alt="" style="border:0;">

	<ul style="font-size:30px;">
		<li>Can do</li>
		<li>Give technical insight</li>
		<li>Write technical stories</li>
		<li>Include Acceptance Criteria</li>
	</ul>
</div>

<div class="fragment" data-fragment-index="1" style="width:33%;float:left;margin-top:60px;">
	<img src="../images/product-owner.png" alt="" style="border:10px;">

	<ul style="font-size:30px;">
		<li>Definitely</li>
		<li>Owns the Stories</li>
		<li>Provides the detail</li>
		<li>Justifies business value</li>
	</ul>
</div>

<div class="fragment" data-fragment-index="3" style="width:33%;float:left;margin-top:60px;">
	<img src="../images/scrummaster.png" alt="" style="border:0;">

	<ul style="font-size:30px;">
		<li>Rarely</li>
		<li>Advises</li>
		<li>Guides</li>
		<li>Facilitates</li>
	</ul>
</div>
