<style>
	#{{ slide.slide }} ul {
		list-style: square;
		padding-left: 70px;
	}
</style>

<ul class="fragment white-on-black bulleted-box">
	<li>Requirements
		<ul class="fragment">
			<li>Design
				<ul class="fragment">
					<li>Implementation
						<ul class="fragment">
							<li>Integration
								<ul class="fragment">
									<li>Testing
										<ul class="fragment">
											<li>Installation
												<ul class="fragment">
													<li>Maintenance</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>

<aside class="notes">
	* Traditional project management is organised in a waterfall approach as described by  Dr. Winston W. Royce in 1970, where one task can’t be started until the preceding task has been completed. “I believe in this concept, but the implementation described [above] is risky and invites failure”

	* Traditionally software development has been considered an engineering profession and therefore it inherited the processes and project management practices of the manufacturing and construction industries

	* Big design up front and detailed analysis before anything is built

	* Traditional software project management comes from an engineering heritage

	* 1951 - first computer used for commercial business applications, the Lyons Electronic Office (LEO), solved clerical problems - built to solve the problem of daily scheduling production and delivery of cakes to the Lyons tea shops
</aside>
