<div class="left-half left" style="margin-top:80px;">
	<p class="fragment white-on-black" style="padding:10px 20px;">Concept proposed in 1986 by Hirotaka Takeuchi and Ikujiro Nonaka (HBR)</p>

	<p class="fragment white-on-black" style="padding:10px 20px;">"a flexible, holistic product development strategy where a development team works as a unit to reach a common goal"</p>

	<p class="fragment white-on-black" style="padding:10px 20px;">A framework that supports the Agile philosophy</p>
</div>

<img class="fragment" style="position:absolute;top:50px;right:-40px;" src="/presentations/images/red-transparent-star.png" alt="">

<aside class="notes">
	* Written in 1986 by Hirotaka Takeuchi and Ikujiro Nonaka marketing and business professors in the "New New Product Development Game" in Harvard Business Review Jan-Feb 1986.
	* Written from their experiences with Fuji-Xerox - Canon - Honda - NEC - HP
	* "Stop running the relay race and take up rugby"
	* "Moving the scrum downfield"
	* "a flexible, holistic product development strategy where a development team works as a unit to reach a common goal"
	* where the team "tries to go the distance as a unit, passing the ball back and forth"
	* "a flexible, holistic product development strategy where a development team works as a unit to reach a common goal" as opposed to a "traditional, sequential approach" in 1986 by Hirotaka Takeuchi and Ikujiro Nonaka in the "New New Product Development Game".
</aside>
